<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title align="center" ><h1>Meus Chamados</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-chamado status="Em Espera" updatedAt="08/07/2021 11:14"></app-chamado>
  <app-chamado status="Aguardando" updatedAt="15/07/2021 17:14"></app-chamado>
  <app-chamado status="Concluido" updatedAt="14/07/2021 14:14" value="8,00"></app-chamado>

  
</ion-content>
